<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/Echo-logo.svg">
    <title>Echo </title>
    <link rel="stylesheet" href="../static/styles/shlyapa.css">
    <link rel="stylesheet" href="../static/styles/home-page.css">
    <link rel="stylesheet" href="../static/styles/login_form.css">
    <link rel="stylesheet" href="../static/styles/register_style.css">
    <link rel="stylesheet" href="../static/styles/home-p-adaptation.css">


</head>

<body>

    <header class="main-header ">

        <div class="overlay hide"> <!-- Full-screen overlay -->
            <div id="register" class="reg-reg hide">
                <div class="head ">
                    <h2>Sign up</h2>
                </div>
                <div class="main">
                    <input id="usernameReg" type="text" placeholder="enter username...">
                    <input id="email" type="email" placeholder="enter your email...">
                    <input id="phone" type="phone" placeholder="enter your phone...">
                    <input id="password" type="password" placeholder="enter password...">
                    <input id="confirm" type="password" placeholder="confirm password...">
                    <h4 class="emptyReg hide">the field is empty</h4>
                    <p class="error hide" style="color: red; text-align: left; width: 70%;">passwords don't match</p>

                    <button id="signup" class="signup">Sign up</button>

                    <h4>Do you have an account?  <span id="log-in">Log in</span></h4>
                </div>
            </div>
        </div>





        <div id="register" class="reg hide">
            <div class="head ">
                <h2>Log in</h2>
            </div>
            <div class="main">
                <input id="username" class="inputUsername" type="text" placeholder="enter username...">

                <input id="passwordLogin" class="inputPasswordLogin" type="password" placeholder="enter password...">

                <h4 class="emptyLogin hide">the field is empty</h4>
                <button id="login" class="signup">Log In</button>

                <h4>Don't have an account?  <span id="sign-up">Sign up</span></h4>
            </div>
        </div>

        </div>
        <div class="container">
            <div class="logo-search">
                <a href="../template/main-pages.html"><img src="../static/images/logo.png" width="90px" alt="Logo"></a>

                <div class="search-wrapper">
                    <input type="text" placeholder="Search..." class="search-input">
                </div>

            </div>
            <div class="header-actions">
                <button class="message-btn"><img src="../static/images/Message icon.png" alt="Message Button"
                        width="66px" height="55px"></button>
                <button class="profile-btn"><img src="../static/images/Profile icon.png" alt="Profile Button"
                        width="46px" height="55px"></button>

                <button class="header-btn " hidden>Log Out</button>
                <button class="login-btn header-btn">Log In</button>
            </div>
        </div>
    </header>
    <main>
        <div class="home-page-container">
            <div class="user-info-container">
                <div class="user-nick">
                    <img src="../static/images/user-icon-photo.png" alt="User photo">
                    <h1 class="user-nickName">hmmaybyes</h1>
                </div>
                <div class="user-info">
                    <p>Email: <a href="mailto:bogdan228@gmail.com">bogdan228@gmail.com</a></p>
                    <p>Phone number: <a href="tel:+380971773437">+380 97 177 34 37</a></p>
                    <p class="description">газом їбануть?</p>
                </div>
                <button class="edit-button">Edit
                    <svg class="edit-icon" width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M19.0176 7.47798L20.7697 5.72578C21.7375 4.75807 23.3065 4.75807 24.2742 5.72578C25.2419 6.6935 25.2419 8.26247 24.2742 9.23018L22.522 10.9824M19.0176 7.47798L8.72529 17.7704C7.41866 19.077 6.76532 19.7302 6.32046 20.5264C5.87559 21.3225 5.428 23.2024 5 25C6.79761 24.572 8.67749 24.1244 9.47361 23.6795C10.2697 23.2346 10.923 22.5814 12.2297 21.2747L22.522 10.9824M19.0176 7.47798L22.522 10.9824"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M13.75 25H21.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </button>
            </div>
            <div class="posts-and-button">
                <button class="add-post-button">Create post +</button>
                <div class="user-posts-container">
                    <div class="user-post">
                        <div class="user-post-header">
                            <div class="user-post-name">
                                <img class="user-icon" src="..//static/images/user-icon.svg" alt="user-icon">
                                <h3 class="user-post-name">User_Name228</h3>
                            </div>
                        </div>
                        <div class="user-post-description">
                            <p>description description description description description description description
                                description
                                description description description description description description</p>
                        </div>
                        <div class="user-postcontent">
                            <img class="user-post-photo" src="../static/images/Bodya.webp" alt="Bodya-with-car">
                        </div>
                        <div class="user-underpost-actions">
                            <button class="user-action-button">
                                <img src="../static/images/like-icon.svg" alt="like-icon">
                                <span>Like</span>
                            </button>
                            <button class="user-action-button">
                                <img src="../static/images/comments-icon.svg" alt="comments-icon">
                                <span>Comments</span>
                            </button>
                        </div>
                    </div>
                    <div class="user-post">
                        <div class="user-post-header">
                            <div class="user-post-name">
                                <img class="user-icon" src="..//static/images/user-icon.svg" alt="user-icon">
                                <h3 class="user-post-name">User_Name228</h3>
                            </div>
                        </div>
                        <div class="user-post-description">
                            <p>description description description description description description description
                                description
                                description description description description description description</p>
                        </div>
                        <div class="user-postcontent">
                            <img class="user-post-photo" src="../static/images/Bodya.webp" alt="Bodya-with-car">
                        </div>
                        <div class="user-underpost-actions">
                            <button class="user-action-button">
                                <img src="../static/images/like-icon.svg" alt="like-icon">
                                <span>Like</span>
                            </button>
                            <button class="user-action-button">
                                <img src="../static/images/comments-icon.svg" alt="comments-icon">
                                <span>Comments</span>
                            </button>
                        </div>
                    </div>
                    <div class="user-post">
                        <div class="user-post-header">
                            <div class="user-post-name">
                                <img class="user-icon" src="..//static/images/user-icon.svg" alt="user-icon">
                                <h3 class="user-post-name">User_Name228</h3>
                            </div>
                        </div>
                        <div class="user-post-description">
                            <p>description description description description description description description
                                description
                                description description description description description description</p>
                        </div>
                        <div class="user-postcontent">
                            <img class="user-post-photo" src="../static/images/Bodya.webp" alt="Bodya-with-car">
                        </div>
                        <div class="user-underpost-actions">
                            <button class="user-action-button">
                                <img src="../static/images/like-icon.svg" alt="like-icon">
                                <span>Like</span>
                            </button>
                            <button class="user-action-button">
                                <img src="../static/images/comments-icon.svg" alt="comments-icon">
                                <span>Comments</span>
                            </button>
                        </div>
                    </div>
                    <div class="user-post">
                        <div class="user-post-header">
                            <div class="user-post-name">
                                <img class="user-icon" src="..//static/images/user-icon.svg" alt="user-icon">
                                <h3 class="user-post-name">User_Name228</h3>
                            </div>
                        </div>
                        <div class="user-post-description">
                            <p>description description description description description description description
                                description
                                description description description description description description</p>
                        </div>
                        <div class="user-postcontent">
                            <img class="user-post-photo" src="../static/images/Bodya.webp" alt="Bodya-with-car">
                        </div>
                        <div class="user-underpost-actions">
                            <button class="user-action-button">
                                <img src="../static/images/like-icon.svg" alt="like-icon">
                                <span>Like</span>
                            </button>
                            <button class="user-action-button">
                                <img src="../static/images/comments-icon.svg" alt="comments-icon">
                                <span>Comments</span>
                            </button>
                        </div>
                    </div>
                    <div class="user-post">
                        <div class="user-post-header">
                            <div class="user-post-name">
                                <img class="user-icon" src="..//static/images/user-icon.svg" alt="user-icon">
                                <h3 class="user-post-name">User_Name228</h3>
                            </div>
                        </div>
                        <div class="user-post-description">
                            <p>description description description description description description description
                                description
                                description description description description description description</p>
                        </div>
                        <div class="user-postcontent">
                            <img class="user-post-photo" src="../static/images/Bodya.webp" alt="Bodya-with-car">
                        </div>
                        <div class="user-underpost-actions">
                            <button class="user-action-button">
                                <img src="../static/images/like-icon.svg" alt="like-icon">
                                <span>Like</span>
                            </button>
                            <button class="user-action-button">
                                <img src="../static/images/comments-icon.svg" alt="comments-icon">
                                <span>Comments</span>
                            </button>
                        </div>
                    </div>
                    <div class="user-post">
                        <div class="user-post-header">
                            <div class="user-post-name">
                                <img class="user-icon" src="..//static/images/user-icon.svg" alt="user-icon">
                                <h3 class="user-post-name">User_Name228</h3>
                            </div>
                        </div>
                        <div class="user-post-description">
                            <p>description description description description description description description
                                description
                                description description description description description description</p>
                        </div>
                        <div class="user-postcontent">
                            <img class="user-post-photo" src="../static/images/Bodya.webp" alt="Bodya-with-car">
                        </div>
                        <div class="user-underpost-actions">
                            <button class="user-action-button">
                                <img src="../static/images/like-icon.svg" alt="like-icon">
                                <span>Like</span>
                            </button>
                            <button class="user-action-button">
                                <img src="../static/images/comments-icon.svg" alt="comments-icon">
                                <span>Comments</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../static/script/login-script.js"></script>
</body>

</html>