<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/login_form.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
   
</head>
    <div id="register" class="reg">
        <div class="head ">
            <h2>Log in</h2>
        </div>
        <div class="main">
            <input id="username" type="text" placeholder="enter username...">

            <input id="password" type="password" placeholder="enter password...">


            <button class="signup">Sign up</button>
            
            <h4 >Don't have an account?  <span>Sign up</span></h4>
        </div>
    </div>

</div>

    <script src="index.js"></script>
</body>
</html>




</body>
</html>