<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/Echo-logo.svg">
    <title>Echo</title>
    <link rel="stylesheet" href="../static/styles/shlyapa.css">
    <link rel="stylesheet" href="../static/styles/main-pages.css">
</head>

<body>
    <header class="main-header">
        <div class="container">
            <div class="logo-search">
                <a href="../template/main-pages.html"><img src="../static/images/logo.png" width="90px" alt="Logo"></a>
                
                <div class="search-wrapper">
                    <input type="text" placeholder="Search..." class="search-input">
                </div>
                
            </div>
            <div class="header-actions">
                <button class="message-btn"><img src="../static/images/Message icon.png" alt="Message Button" width="66px" height="55px"></button>
                <button class="profile-btn"><img src="../static/images/Profile icon.png" alt="Profile Button" width="46px" height="55px"></button>
                
                <button class="login-btn">Log In</button>
            </div>
        </div>
    </header>
    <main>
        <div class="posts-container">
            <div class="post">
                <div class="post-header">
                    <div class="post-user-name">
                        <img class="user-icon" src="..//static/images/user-icon.svg" alt="user-icon">
                        <h3 class="user-name">User_Name228</h3>
                    </div>
                    <button class="follow-button">Follow +</button>
                </div>
                <div class="post-description">
                    <p>description description description description description description description description
                        description description description description description description</p>
                </div>
                <div class="postcontent">

                    <img class="post-photo" src="../static/images/Bodya.webp" alt="Bodya-with-car">
                </div>
                <div class="underpost-actions">
                    <button class="action-button">
                        <img src="../static/images/like-icon.svg" alt="like-icon">
                        <span>Like</span>
                    </button>
                    <button class="action-button">
                        <img src="../static/images/comments-icon.svg" alt="comments-icon">
                        <span>Comments</span>
                    </button>
                </div>
            </div>
            <div class="post">
                <div class="post-header">
                    <div class="post-user-name">
                        <img class="user-icon" src="..//static/images/user-icon.svg" alt="user-icon">
                        <h3 class="user-name">User_Name228</h3>
                    </div>
                    <button class="follow-button">Follow +</button>
                </div>
                <div class="post-description">
                    <p>description description description description description description description description
                        description description description description description description</p>
                </div>
                <div class="postcontent">

                    <img class="post-photo" src="../static/images/Bodya.webp" alt="Bodya-with-car">
                </div>
                <div class="underpost-actions">
                    <button class="action-button">
                        <img src="../static/images/like-icon.svg" alt="like-icon">
                        <span>Like</span>
                    </button>
                    <button class="action-button">
                        <img src="../static/images/comments-icon.svg" alt="comments-icon">
                        <span>Comments</span>
                    </button>
                </div>
            </div>
            <div class="post">
                <div class="post-header">
                    <div class="post-user-name">
                        <img class="user-icon" src="..//static/images/user-icon.svg" alt="user-icon">
                        <h3 class="user-name">User_Name228</h3>
                    </div>
                    <button class="follow-button">Follow +</button>
                </div>
                <div class="post-description">
                    <p>description description description description description description description description
                        description description description description description description</p>
                </div>
                <div class="postcontent">

                    <img class="post-photo" src="../static/images/Bodya.webp" alt="Bodya-with-car">
                </div>
                <div class="underpost-actions">
                    <button class="action-button">
                        <img src="../static/images/like-icon.svg" alt="like-icon">
                        <span>Like</span>
                    </button>
                    <button class="action-button">
                        <img src="../static/images/comments-icon.svg" alt="comments-icon">
                        <span>Comments</span>
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>