<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/styles/register_style.css">
</head>

<body>
    <div class="overlay hide"> <!-- Full-screen overlay -->
        <div id="register" class="reg-reg hide">
            <div class="head ">
                <h2>Sign up</h2>
            </div>
            <div class="main">
                <input id="usernameReg" type="text" placeholder="enter username...">
                <input id="email" type="email" placeholder="enter your email...">
                <input id="phone" type="phone" placeholder="enter your phone...">
                <input id="password" type="password" placeholder="enter password...">
                <input id="confirm" type="password" placeholder="confirm password...">
                <h4 class="emptyReg hide">the field is empty</h4>
                <p class="error hide" style="color: red; text-align: left; width: 70%;">passwords don't match</p>

                <button id="signup" class="signup">Sign up</button>

                <h4>Do you have an account?  <span id="log-in">Log in</span></h4>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>