<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/shlyapa.css"> 
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="logo-search">
                <a href="../template/main-pages.html"><img src="../static/images/logo.png" width="90px" alt="Logo"></a>
                
                <div class="search-wrapper">
                    <input type="text" placeholder="Search..." class="search-input">
                </div>
                
            </div>
            <div class="header-actions">
                <button class="message-btn"><img src="../static/images/Message icon.png" alt="Message Button" width="66px" height="55px"></button>
                <button class="profile-btn"><img src="../static/images/Profile icon.png" alt="Profile Button" width="46px" height="55px"></button>
                
                <button class="login-btn">Log In</button>
            </div>
        </div>
    </header>
</body>
</html>
