@media (max-width: 1800px) {

    .user-info-container {
        left: 12%;
    }

    .posts-and-button {
        margin-top: 16px;
        margin-right: 150px;
    }
}


@media (max-width: 1700px) {

    .user-info-container {
        left: 9%;
    }

    .posts-and-button {
        margin-top: 16px;
        margin-right: 120px;
    }
}

@media (max-width: 1600px) {

    .user-info-container {
        left: 7%;
    }

    .posts-and-button {
        margin-top: 16px;
        margin-right: 90px;
    }
}

@media (max-width: 1500px) {

    .user-info-container {
        left: 6%;
    }

    .posts-and-button {
        margin-top: 16px;
        margin-right: 60px;
    }
}

@media (max-width: 1440px) {
    .user-info-container {
        left: 5%;
    }

    .posts-and-button {
        margin-top: 16px;
        margin-right: 0;
    }
}