body {
    background: url(../images/main-background.png);
    background-color: var(--color-primary-light);
    background-repeat: repeat;
}

:root {
    --color-primary-dark: #000000;
    --color-primary-light: #EBE8E8;
    --color-brand: #41BDFF;
    --color-secondary-light: #ffffff;
    --color-secondary-dark: #004E89;
    --color-decoration: #D9D9D9;
}

.user-nickName {
    font-size: 30px;
}

.home-page-container {
    display: flex;
    justify-content: flex-end;
    margin: 110px 40px 0;
    padding: 0 40px;
}

.user-info-container {
    position: fixed;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 430px;
    padding: 38px 40px 28px;
    background-color: var(--color-secondary-light);
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.user-nick {
    text-align: center;
}

.user-nick h2 {
    margin-top: 14px;
}

.user-info {
    margin-top: 34px;
}

.user-info p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 22px;
}

.user-info p a {
    display: block;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    color: var(--color-primary-dark);
    transition: color 0.3s;
}

.user-info p a:hover {
    color: var(--color-brand);
}

.user-info .description {
    font-weight: 100;
}


.edit-button {
    display: block;
    align-self: center;
    margin-top: 140px;
    padding: 16px 134px;
    background-color: var(--color-brand);
    color: var(--color-secondary-light);
    font-size: 26px;
    border: 1px solid var(--color-brand);
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.edit-button:hover {
    color: var(--color-secondary-dark);
    background-color: transparent;
    border: 2px solid var(--color-secondary-dark);
}

.edit-icon {
    stroke: currentColor;
    fill: none;
    vertical-align: middle;
}


.add-post-button {
    display: block;
    margin: 0 auto;
    padding: 16px 158px;
    background-color: var(--color-brand);
    color: var(--color-secondary-light);
    font-weight: 400;
    font-size: 26px;
    border: 2px solid var(--color-brand);
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.add-post-button:hover {
    color: var(--color-secondary-dark);
    background-color: transparent;
    border: 2px solid var(--color-secondary-dark);
}


.posts-and-button {
    margin-top: 16px;
    margin-right: 180px;
}

/* User posts styles */

.user-posts-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.user-post {
    padding: 20px 32px;
    width: 720px;
    height: 580px;
    background-color: #ffffff;
    border-radius: 10px;
}

.user-post:first-child {
    margin-top: 20px;
}

/* User post Header */

.user-post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.user-icon {
    width: 56px;
    height: 56px;
}

.user-post-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

/* Post description */

.user-post-description {
    padding: 10px 22px;
    word-wrap: break-word;
    /* Дозволяє перенос слів */
    white-space: normal;
}

.user-post-description p {
    margin: 0;
}

/* Post content */
.user-postcontent {
    display: flex;
    justify-content: center;
    align-items: center;

}

.user-post-photo {
    border-radius: 2px;
    max-width: 650px;
    max-height: 380px;
}

/* Underpost actions */

.user-underpost-actions {
    display: flex;
    flex-direction: row;
    padding: 20px 20px 0;
    position: relative;
    margin-top: 26px;
}

.user-underpost-actions::before {
    content: "";
    width: 660px;
    height: 4px;
    background-color: var(--color-decoration);
    position: absolute;
    top: 0;
    left: 26px;
    border-radius: 15px;
}

.user-action-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.user-action-button img {
    margin-right: 6px;
}