:root {
    --color-primary-dark: #000000;
    --color-primary-light: #EBE8E8;
    --color-brand: #41BDFF;
    --color-text-light: #ffffff;
    --color-decoration: #D9D9D9;
}

body {
    background: url(../images/main-background.png);
    background-color: var(--color-primary-light);
    background-size: cover;
}

/* Main */
.posts-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.post {
    padding: 20px 32px;
    width: 720px;
    height: 580px;
    background-color: #ffffff;
    border-radius: 10px;
}

.post:first-child {
    margin-top: 120px;
}

/* Post Header */
.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.user-icon {
    width: 56px;
    height: 56px;
}

.post-user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.follow-button {
    padding: 10px 24px;
    background-color: var(--color-brand);
    border: none;
    border-radius: 24px;
    color: var(--color-text-light);
    font-size: 20px;
}

.follow-button:hover {
    cursor: pointer;
}

/* Post description */

.post-description {
    padding: 10px 22px;
    word-wrap: break-word;
    /* Дозволяє перенос слів */
    white-space: normal;
}

.post-description p {

    margin: 0;
}

/* Post content */
.postcontent {
    display: flex;
    justify-content: center;
    align-items: center;

}

.post-photo {
    border-radius: 2px;
    max-width: 650px;
    max-height: 380px;
}

/* Underpost actions */

.underpost-actions {
    display: flex;
    flex-direction: row;
    padding: 20px 20px 0;
    position: relative;
    margin-top: 26px;
}

.underpost-actions::before {
    content: "";
    width: 660px;
    height: 4px;
    background-color: var(--color-decoration);
    position: absolute;
    top: 0;
    left: 26px;
    border-radius: 15px;
}

.action-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.action-button img {
    margin-right: 6px;
}