* {
    margin: 0;


}

/* 
body {
    font-family: Arial, sans-serif;
    background: url('Desktop - 3.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
} */


.overlay{
    position: absolute;
    background-color: rgb(29, 28, 28, 0.9);
    height: 100vw;
    width: 1200%;
    top: 0;
    z-index: 500;
    overflow: hidden;

}

.main-header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(203, 241, 248, 0.5);
    /* Напівпрозорий колір фону */
    backdrop-filter: blur(10px);
    /* Ефект розмиття */
    color: white;
    padding: 20px 0;
    position: fixed;
    z-index: 6;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-search {
    display: flex;
    align-items: center;
}

.logo-search img {
    max-width: 100%;
    height: auto;
}

.search-wrapper {
    margin-left: 150px;
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    background-color: #55BFF9;
    height: 35px;
    padding: 5px 5px 5px 40px;
    /* Простір для іконки зліва */
    border-radius: 15px;
    border: none;
    font-size: 16px;
}

.search-wrapper::before {
    content: '';
    background: url('../images/Vector.png') no-repeat center;
    background-size: 20px 20px;
    /* Розмір іконки */
    position: absolute;
    left: 10px;
    /* Розташування іконки */
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    /* Ширина іконки */
    height: 20px;
    /* Висота іконки */

}

.search-input::placeholder {
    color: #999;
}

.search-input:focus {
    outline: none;
    /* Прибирає обводку при фокусуванні */
}

.search-input::placeholder {
    color: #004E89;
}

.header-actions {
    display: flex;
    align-items: center;
}

.profile-btn,
.message-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.profile-btn {
    background-image: url('profile-photo.jpg');
}

.message-btn {
    background-image: url('message-icon.jpg');
}

.profile-btn:focus,
.message-btn:focus {
    outline: none;
}



.header-btn {
    background-color: #55BFF9;
    color: #004E89;
    border: none;
    height: 45px;
    width: 170px;
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #1ba7f3;
}

.header-text {
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
}

.message-btn {
    padding-right: 150px;
}

.profile-btn {
    padding-right: 150px;
}