# Maven / Gradle
target/
out/
build/

# IntelliJ IDEA / Eclipse / NetBeans проектні файли
*.iml
.idea/
*.ipr
*.iws
.classpath
.project
.settings/
nbproject/

# MacOS системні файли
.DS_Store

# Windows системні файли
Thumbs.db
ehthumbs.db

# Log файли
*.log

# Пакети та залежності
node_modules/
*.jar
*.war
*.ear

# Кеші, тимчасові файли
*.class
*.log
*.tmp
*.swp

# Локальні файли Git
.gitignore
