<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/error_page.css">
    <title>Document</title>
</head>
<body class="error_body">
    <div class="error_page">
        <img class="error_img" src="../static/images/sad.png" alt="" width="400px">
        <h1 class="error_main_error">404</h1>
        <h2 class="error_description">Page not found</h2>
        <p class="error_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione est animi velit voluptatum harum. Labore expedita aliquid repudiandae provident atque.</p>
    </div>
</body>
</html>