<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo</title>
    <link rel="stylesheet" href="../static/styles/footer.css">
</head>

<body>
    <footer class="footer">
        <div class="footer_container">
            <div class="footer_logo">
                <a href="/main-pages.html">
                    <img src="../static/images/logo.png" width="130px" alt="Logo">
                </a>
            </div>
            <div class="footer_info">
                <a href="#" class="footer_link">About us</a>
                <a href="#" class="footer_link">Profile</a>
                <a href="#" class="footer_link">Сonditions of use</a>
            </div>
            <div class="footer_contacts">
                <a href="tel:+380971773437" class="footer_link">+ 38(097) 177 34 37</a>
                <a href="mailto:echocomunity@gmail.com" class="footer_link">echocomunity@gmail.com</a>
                <div class="footer_contacts_icons">
                    <img src="../static/images/phone_icon.svg" alt="Phone icon">
                    <img src="../static/images/facebook.svg" alt="Facebook icon">
                    <img src="../static/images/instagram.svg" alt="Instagram icon">
                </div>
            </div>
            <div class="footer_privacy_and_buttons">
                <div class="privacy">
                    <a href="#" class="footer_link">Privacy policy</a>
                    <p class="data_protected">© 2022 Data is protected</p>
                </div>
                <div class="download_buttons">
                    <button class="download_button">
                        <img src="../static/images/playstore.png" alt="Playstore">
                        <div class="download_button_descr">
                            <span class="get_it">get it on </span>
                            <span class="google_play_header">Google Play</span>
                        </div>
                    </button>
                    <button class="download_button">
                        <img src="../static/images/apple.png" alt="Apple">
                        <div class="download_button_descr">
                            <span class="download_on">Download on the</span>
                            <span class="app_store_header">App Store</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>