<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../templates/login_form.html">
</head>
<body>
    <form>
        <div class="login_container hide">
            <span class="close-btn" id="closeForm">&times;</span>
            <h1 class="loginText">Log In</h1>
       
            <input type="text" placeholder="enter username..">
            <input type="text" placeholder="enter password..">
            <button class="login_form_btn">Log In</button>
            <p class="login_noacc">Don't have an account? <h>Sign up</h> </p>
        </div>

    </form>




</body>
</html>