<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo</title>
    <link rel="stylesheet" href="../static/styles/post_editor.css">
</head>

<body>
    <div class="editor_modal" id="editor_modal">
        <div class="editor_container">
            <div class="editor_container_head">
                <h3 class="editor_container_header">Editor</h3>
                <span class="close_button" id="close_button">&times;</span>
            </div>
            <div class="editor_window">
                <img src="../static/images/editor_img.png" alt="editor image">
                <h2 class="editor_window_header">To start, select a file</h2>
                <input class="input_upload_btn" type="file" id="uploadBtn" accept=".png, .jpeg">
                <label class="label_upload_btn" for="uploadBtn">Download from computer</label>
            </div>
            <div class="editor_continue_btn_container">
                <button class="editor_continue_btn">Сontinue</button>
            </div>
        </div>
    </div>
</body>

</html>