<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo</title>
    <link rel="stylesheet" href="../static/styles/post-redcative-editor.css">
</head>

<body>
    <div class="editor_modal_redactive" id="editor_modal_redactive">
        <div class="editor_container  editor_modal_redactive_container">
            <div class="redactive_head">
                <div class="redactive_user">
                    <img class="redactive_user_image" src="../static/images/user_icon_photo.png" alt="Bodya">
                    <h3 class="redactive_user_nick">hmmaybyes</h3>
                </div>
                <span class="close_button" id="close_redactive_btn">&times;</span>
            </div>
            <div class="redactive_description">
                <textarea class="redactive_description_area" placeholder="Enter description..."></textarea>
            </div>
            <div class="redactive_user_file">
                <img class="redactive_user_photo" src="../static/images/Bodya.webp" alt="Bodya">
            </div>
            <div class="editor_publish_btn">
                <button class="publish_btn">Publish</button>
            </div>
        </div>
    </div>
</body>

</html>