<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/register_form.css">
</head>
<body>
    <form>
        <div class="register_container hide">
            <span class="close_btn_register" id="closeForm">&times;</span>
            <h1 class="registerText">Sign Up</h1>
            <input class="registerInput" type="text" placeholder="enter username..">
            <input class="registerInput"type="text" placeholder="enter email..">
            <input class="registerInput"type="text" placeholder="enter phone number..">
            <input class="registerInput"type="text" placeholder="enter password..">
            <input class="registerInput"type="text" placeholder="repeat password..">
            <p class="registerError hide">input can`t be empty</p>
            <button class="register_form_btn">Sign Up</button>
            <p class="register_noacc">You have an account? <h class="log_in">Log In</h> </p>
        </div>
    </form>


    <script src="../static/scripts/auth_btn.js"></script>
</body>
</html>