.editor_modal_redactive {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
}

.editor_modal_redactive::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Напівпрозорий фон */
    z-index: -1;
}

.no-scroll {
    overflow: hidden;
    /* Забороняє прокручування */
}

.editor_container {
    background-color: white;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    width: 970px;
    height: 700px;
    font-family: "Roboto", sans-serif;
}

.editor_modal_redactive_container {
    padding: 20px 26px;
}

/* Description head */

.redactive_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.redactive_user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.redactive_user_image {
    width: 70px;
    height: 70px;
}

.redactive_user_nick {
    font-weight: 400;
    font-size: 28px;
    color: #000;
}

.close_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 36px;
    color: #004e89;
}

.close_button:hover {
    background-color: #004e89;
    color: white;
    transform: scale(1.1);
}

/* Description  */

.redactive_description {
    padding: 20px;
}

.redactive_description_area {
    width: 90%;
    height: auto;
    min-height: 28px;
    font-size: 22px;
    border: none;
    background: none;
    align-items: center;
    resize: none;
    overflow: hidden;
    line-height: 1.2;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.redactive_description_area:focus {
    outline: none;
}

.redactive_description_area::placeholder {
    font-weight: 400;
    font-size: 22px;
    color: #969696;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
}


/* User file */
.redactive_user_file {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redactive_user_photo {
    border-radius: 2px;
    max-width: 650px;
    max-height: 450px;
}

/* Editor publish btn */
.editor_publish_btn {
    display: flex;
    justify-content: flex-end;
    padding: 16px 24px 0;
    align-items: center;
}

.publish_btn {
    padding: 10px 52px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    border-radius: 16px;
    border: none;
    background-color: #41BDFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.publish_btn:hover {
    background-color: #1f8cc7;
}

.publish_btn:active {
    transform: scale(0.95);
}