.register_container {
    position: fixed; /* Fixed positioning for the container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 20px 80px;
    background-image: url(../images/authbackground.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 12;
}

.register_container span {
    color: white;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_container span:hover {
    background-color: #f0f0f0;
    color: #004E89;
}

.registerText {
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
}

.register_container input {
    width: 280px;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 20px;
    color: white;
    outline: none;
}

.register_container input:focus {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.register_container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.register_form_btn {
    margin-top: 50px;
    padding: 15px 80px;
    border-radius: 50px;
    border: none;
    color: #41BDFF;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register_form_btn:hover {
    background-color: #eaf6ff;
}

.register_noacc {
    color: white;
    text-align: center;
}

.register_noacc h {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.register_background {
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
    overflow: hidden;
}

.hide {
    display: none;
}

.registerError {
    position: absolute;
    left: 100px;
    bottom: 140px;
    font-size: 14px;
    color: red;
}

body.no-scroll {
    overflow: hidden;
}
